<script type="text/ng-template" id="subscribeApply.html">
    <div class="modal-header">
        <h4 class="modal-title fn-ms">认购申请</h4>
    </div>
    <div class="modal-body clearfix">
        <div class="col-lg-12">
            <form role="form" class="form-horizontal" id="subscribeApplyform">
                <div class="form-group col-lg-12">
                    <label class="col-lg-2 control-label">基金Id：</label>
                    <input name="pfundId" ng-model="subscribeApplyformData.pfundId" class="form-control col-lg-4"
                           placeholder="请输入基金Id">
                    <label class="col-lg-2 control-label">合同金额：</label>
                    <input name="contractAmt" ng-model="subscribeApplyformData.contractAmt"
                           class="form-control col-lg-4"
                           placeholder="请输入合同金额">
                </div>
                <div class="form-group col-lg-12">
                    <div class="col-lg-6">
                        <label class="col-lg-3 control-label">认购笔数：</label>
                        <input name="subscribeApplyNum" ng-model="subscribeApplyformData.subscribeApplyNum"
                               class="form-control col-lg-3"
                               placeholder="认购笔数">
                        <label class="col-lg-3 control-label">流水笔数：</label>
                        <input name="flowNum" ng-model="subscribeApplyformData.flowNum" class="form-control col-lg-3"
                               placeholder="流水笔数">
                    </div>
                    <label class="col-lg-2 control-label">客户类型：</label>
                    <select name="customerMainType" ng-model="subscribeApplyformData.customerMainType"
                            class="form-control col-lg-4">
                        <option value="0" ng-selected="1">LP</option>
                        <option value="1">GP</option>
                    </select>



                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-2 control-label">协议签约时间：</label>
                    <!--<input class="form-control col-lg-4" name="contractSignDate"-->
                           <!--ng-model="subscribeApplyformData.contractSignDate" placeholder="协议签约时间" size="16"-->
                           <!--type="text"/>-->

                    <div class="col-lg-4" ng-controller="DatepickerDemoCtrl">
                            <input type="text" class="form-control col-lg-10" name="contractSignDate" ng-model="subscribeApplyformData.contractSignDate" datepicker-popup="yyyy-MM-dd hh:mm:ss" is-open="opened"
                                   datepicker-options="dateOptions" placeholder="协议签约时间" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn col-lg-1">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </div>

                    <label class="col-lg-2 control-label">冷静期截止日：</label>

                    <div class="col-lg-4" ng-controller="DatepickerDemoCtrl">
                            <input type="text" class="form-control col-lg-10" name="coolingPeriodEnd"
                                   ng-model="subscribeApplyformData.coolingPeriodEnd" datepicker-popup="yyyy-MM-dd hh:mm:ss" is-open="opened"
                                   datepicker-options="dateOptions" placeholder="冷静期截止日" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn col-lg-1">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </div>

                </div>

                <div class="form-group col-lg-12">
                    <label class="col-lg-2 control-label">份额分级：</label>
                    <select name="shareClassified" ng-model="subscribeApplyformData.shareClassified"
                            class="form-control col-lg-4">
                        <option value="" ng-selected="1">请选择</option>
                        <option value="0">不适用</option>
                        <option value="1">ClassA</option>
                        <option value="2">ClassB</option>
                        <option value="3">ClassE</option>
                    </select>
                    <label class="col-lg-2 control-label">投资客户分类：</label>
                    <select name="investorClassified" ng-model="subscribeApplyformData.investorClassified" class="form-control col-lg-4">
                        <option value="" ng-selected="1">请选择</option>
                        <option value="0">不适用</option>
                        <option value="1">限制性</option>
                        <option value="2">非限制性</option>
                    </select>
                </div>
                <div class="form-group col-lg-12">
                    <!--<label class="col-lg-3-1 control-label">客户到帐日：</label>-->
                    <!--<input class="form-control col-lg-4-1" name="transTime"-->
                    <!--ng-model="subscribeApplyformData.transTime" placeholder="客户到帐日" size="16" type="text"-->
                    <!--onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/>-->


                    <label class="col-lg-2 control-label">系统来源：</label>
                    <select name="sysSource" ng-model="subscribeApplyformData.sysSource"
                            class="form-control col-lg-4">
                        <option value="99" ng-selected="1">ZMA</option>
                        <option value="1">LS</option>
                        <option value="2">财富官网</option>
                        <option value="3">普泽</option>
                        <option value="4">财富APP</option>
                    </select>
                    <label class="col-lg-2 control-label">认购渠道：</label>
                    <select name="channel" ng-model="subscribeApplyformData.channel" class="form-control col-lg-4">
                        <option value="0">ZMA</option>
                        <option value="1">LS</option>
                        <option value="2" ng-selected="1">财富官网</option>
                        <option value="3">普泽</option>
                        <option value="4">财富APP</option>
                        <option value="5">产品中心</option>
                        <option value="6">美版app</option>
                        <option value="7">星火</option>
                    </select>
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-3 control-label">流水金额是否与打款金额一致：</label>
                    <select name="ispayAmount" ng-model="subscribeApplyformData.ispayAmount"
                            class="form-control col-xs-2"
                            ng-change="show_flow_amount()">
                        <option value="1" ng-selected="1">是</option>
                        <!--<option value="2">否</option>-->
                    </select>
                    <label class="col-lg-3 control-label">客户认购费折扣方式：</label>
                    <select name="subfeeDisType" ng-model="subscribeApplyformData.subfeeDisType"
                            class="form-control col-lg-3"
                            ng-change="change_subfeeDisType(subscribeApplyformData.subfeeDisType)">
                        <option value="0" ng-selected="1">不优惠</option>
                        <option value="1">按折扣优惠</option>
                        <option value="2">优惠固定金额</option>
                    </select>
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-2 control-label">客户认购费折扣率：</label>
                    <input name="subfeeDisRate" ng-model="subscribeApplyformData.subfeeDisRate"
                           class="form-control col-lg-4"
                           placeholder="请输入客户认购费折扣率">
                    <label class="col-lg-3 control-label">客户认购费优惠金额：</label>
                    <input name="subfeeDisAmt" ng-model="subscribeApplyformData.subfeeDisAmt"
                           class="form-control col-lg-3"
                           placeholder="请输入客户认购费优惠金额">
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-2 control-label">期限类型：</label>
                    <select name="ftermType" ng-model="subscribeApplyformData.ftermType"
                            class="form-control col-lg-4"
                            ng-change="show_ftermType(subscribeApplyformData.ftermType)">
                        <option value="1" ng-selected="1">单期</option>
                        <option value="2">多期</option>
                    </select>
                    <label class="col-lg-2 control-label" ng-hide="ftermType_visible">期限Id：</label>
                    <input name="ftermId" ng-model="subscribeApplyformData.ftermId" class="form-control col-lg-4"
                           placeholder="请输入期限Id" ng-hide="ftermType_visible">
                </div>


                <!--<div class="form-group col-lg-12">-->
                <!---->
                <!--<label class="col-lg-2 control-label" ng-hide="flow_amount_visible">补充金额：</label>-->
                <!--<input name="flowAmount" ng-model="subscribeApplyformData.flowAmount"-->
                <!--class="form-control col-lg-4-1"-->
                <!--placeholder="请输入补充金额" ng-hide="flow_amount_visible">-->
                <!--</div>-->

                <div class="form-group col-lg-12">
                    <label class="col-lg-2 control-label">客户锁定期：</label>
                    <input name="lockPeriod" ng-model="subscribeApplyformData.lockPeriod"
                           class="form-control col-lg-2">
                    <select name="lockPeriodUnit" ng-model="subscribeApplyformData.lockPeriodUnit"
                            class="form-control col-lg-2">
                        <option value="0" ng-selected="1">对日</option>
                        <option value="1">对月</option>
                    </select>
                    <label class="col-lg-2 control-label">赎回周期：</label>
                    <select name="redeemCycleType" ng-model="subscribeApplyformData.redeemCycleType"
                            class="form-control col-lg-2"
                            ng-change="show_redeemCycle(subscribeApplyformData.redeemCycleType)">
                        <option value="0" ng-selected="1">年</option>
                        <option value="1">半年</option>
                        <option value="2">季度</option>
                        <option value="3">月</option>
                        <option value="5">无</option>
                        <option value="4">自定义</option>
                    </select>
                    <input name="redeemCycle" ng-model="subscribeApplyformData.redeemCycle"
                           class="form-control col-lg-1"
                           ng-hide="redeemCycle_visible">
                    <label class="col-lg-1 control-label" ng-hide="redeemCycle_visible">月</label>
                </div>

                <div class="form-group col-lg-12">
                    <label class="col-lg-2 control-label">付款方式：</label>
                    <select name="payType" ng-model="subscribeApplyformData.payType"
                            class="form-control col-lg-4"
                            ng-change="show_isPayType(subscribeApplyformData.payType)">
                        <option value="0" ng-selected="1">汇款</option>
                        <option value="1">划扣</option>
                        <option value="2">线上付款</option>
                        <option value="3">内部汇款(公募转私募)</option>
                        <option value="5">安享账户</option>
                    </select>
                    <label class="col-lg-2 control-label">回款方式：</label>
                    <select name="payBackType" ng-model="subscribeApplyformData.payBackType"
                            class="form-control col-lg-4"
                            ng-change="show_isPayBackType(subscribeApplyformData.payBackType)">
                        <option value="0" ng-selected="1">回银行卡</option>
                        <option value="1">回安享账户</option>
                    </select>

                </div>
                <div class="form-group col-lg-12" ng-hide="isPay_visible">
                    <label class="col-lg-2 control-label" ng-hide="isPayType_visible">付款支付渠道：</label>
                    <select name="payChannel" ng-model="subscribeApplyformData.payChannel"
                            class="form-control col-lg-4" ng-hide="isPayType_visible">
                        <option value="0" ng-selected="1">财付通</option>
                        <option value="1">快付通</option>
                    </select>
                    <label class="col-lg-2 control-label" ng-hide="isPayBackType_visible">回款支付渠道：</label>
                    <select name="payBackChannel" ng-model="subscribeApplyformData.payBackChannel"
                            class="form-control col-lg-4" ng-hide="isPayBackType_visible">
                        <option value="0" ng-selected="1">财付通</option>
                        <option value="1">快付通</option>
                    </select>

                    <label class="col-lg-2 control-label" ng-hide="transTime_visible">客户到帐日：</label>

                    <div class="col-lg-4" ng-controller="DatepickerDemoCtrl">
                            <input type="text" class="form-control col-lg-10" name="transTime"
                                   ng-model="subscribeApplyformData.transTme" datepicker-popup="yyyy-MM-dd hh:mm:ss" is-open="opened"
                                   datepicker-options="dateOptions" placeholder="客户到帐日" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn col-lg-1">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-2 control-label">请选择环境：</label>
                    <select name="envType" ng-model="subscribeApplyformData.envType" class="form-control col-lg-4">
                        <option value="0" ng-selected="1">测试环境</option>
                        <option value="1">UAT环境</option>
                        <option value="2">预发布环境</option>
                        <option value="3">历史数据环境</option>
                    </select>
                    <label class="col-lg-2 control-label">贴息总金额：</label>
                    <input name="subsidyAmt" ng-model="subscribeApplyformData.subsidyAmt"
                           class="form-control col-lg-4"
                           placeholder="请输入贴息总金额">
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" ng-init="subscribeApply_init()">
        <button type="button" class="btn btn-primary fn-ms" style="width:25%;" ng-click="subscribeApply_cancel()">
            取消
        </button>
        <button type="button" class="btn btn-success fn-ms" style="width:25%;" ng-click="subscribeApply_send()">提交
        </button>
    </div>
</script>