<script type="text/ng-template" id="menuTryMatchById.html">
    <div class="modal-header">
        <h4 class="modal-title fn-ms">菜单匹配结果</h4>
    </div>
    <div class="modal-body clearfix">
        <div class="col-lg-12">
            <form role="form" class="form-horizontal" id="menuTryMatchByIdForm">
                <div class="form-group col-lg-12">
                    <label class="col-lg-2 control-label">粉丝的微信号：</label>
                    <input name="userid" ng-model="menuTryMatchByIdData.userid" class="form-control col-lg-10" placeholder="请输入粉丝的微信号">
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary fn-ms" style="width:25%;" ng-click="menuTryMatchByIdCancel()">取消</button>
        <button type="button" class="btn btn-success fn-ms" style="width:25%;" ng-click="menuTryMatchByIdSend()">提交</button>
    </div>
</script>