<div ng-controller="menuOperationController">
    <div>
        <div style=" padding-top: 10px;padding-left: 15px;height: 38px;">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <button href="javascript:;" class="btn m-b-sm w-sm btn-default" ng-click="createMenu($event)">创建菜单</button>
                        <button href="javascript:;" class="btn m-b-sm w-sm btn-primary" ng-click="deleteMenuSend($event)">菜单全部删除</button>
                        <button href="javascript:;" class="btn m-b-sm w-sm btn-success" ng-click="deleteMenuById($event)">删除单个菜单</button>
                        <button href="javascript:;" class="btn m-b-sm w-sm btn-info" ng-click="getMenuSend($event)">菜单查询</button>
                        <button href="javascript:;" class="btn m-b-sm w-sm btn-dark" ng-click="menuTryMatchById($event)">菜单匹配结果</button>
                        <button href="javascript:;" class="btn m-b-sm w-sm btn-success" ng-click="getSelfMenuInfoSend($event)">获取菜单配置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>