<div ng-controller="otherController">
<div>
    <div style=" padding-top: 10px;padding-left: 15px;height: 38px;">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <button href="javascript:;" class="btn m-b-sm w-sm btn-default" ng-click="taUnlock($event)">TA解锁</button>
                    <button href="javascript:;" class="btn m-b-sm w-sm btn-primary" ng-click="antoMath($event)">到账自动匹配</button>
                    <button href="javascript:;" class="btn m-b-sm w-sm btn-success" ng-click="noNeedMatch($event)">划扣到账自动跑批</button>
                    <button href="javascript:;" class="btn m-b-sm w-sm btn-info" ng-click="enjoyBath($event)">安享账户跑批</button>
                    <button href="javascript:;" class="btn m-b-sm w-sm btn-info" ng-click="sendSIA($event)">SIA消息发送</button>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>