<script type="text/ng-template" id="taUnlock.html">
    <div class="modal-header">
        <h4 class="modal-title fn-ms">TA解锁</h4>
    </div>
    <div class="modal-body clearfix">
        <div class="col-lg-12">
            <form role="form" class="form-horizontal" id="taUnlockform">
                <div class="form-group col-lg-12">
                    <label class="col-lg-2 control-label">解锁类型：</label>
                    <select name="unLockType" ng-model="taUnlockformData.unLockType"
                            class="form-control col-lg-4">
                        <option value="0" ng-selected="1">永久解锁</option>
                        <option value="1">临时解锁</option>
                    </select>
                    <label class="col-lg-2 control-label">请选择环境：</label>
                    <select name="envType" ng-model="taUnlockformData.envType"
                            class="form-control col-lg-4">
                        <option value="0" ng-selected="1">测试环境</option>
                        <option value="1">UAT环境</option>
                        <option value="2">预发布环境</option>
                        <option value="3">历史数据环境</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary fn-ms" style="width:25%;" ng-click="taUnlock_cancel()">
            取消
        </button>
        <button type="button" class="btn btn-success fn-ms" style="width:25%;" ng-click="taUnlock_send()">提交
        </button>
    </div>
</script>